<% if @user.posts.any? %>
	<% @user.posts.each do |post| %>
	<h3><%= post.caption %>
	, by: <%= post.user.username %></h3>

		<% post.likes.each do |like| %>
		<%= like.user.username %> likes 
		<% end %><br />

	<%= image_tag post.picture.url(:medium), class:'uploaded_pic' %><br />
	<%= link_to 'Like', like_path(post), :method => :post %>
	<%= link_to 'Unlike', dislike_path(post), :method => :post %>

	<% end %>
<% else %>
	<h3> No posts yet for this user</h3>
<% end %>
<br />
<%# button_to 'Create Post', new_post_path, method: :get %>
<%= link_to 'Create Post', new_post_path %>
