<div class='container-fluid'>
	<!-- <div class='row'> -->
	  <div class='inner_container col-md-6 col-md-offset-3'>
	  	<div class='posts_outer'>
		  	<div class='posts_inner post-parent-container' data-id='<%= post.id %>' >


							<h3><%= post.user.username %></h3>
							
							<% if post.picture.exists? %>
								<%= image_tag post.picture.url(:medium), class:'uploaded_pic' %><br />
							<% end %>

								<ul class='like-list' >
									<% post.likes.each do |like| %>
													<li>
														<% if post.likes.count <= 1 %> 	
															<%= like.user.username %> likes
														<% else %> 	
															<%= like.user.username %> likes
														<% end %> 	
												</li>		
									<% end %><br />
							</ul>

								
								<%= link_to 'Like', like_path(post), class: 'like' %>
								<%= link_to 'Unlike', dislike_path(post), :method => :post %>								
								<%= link_to 'Delete Post', post_path(post), :method => :delete %>
							
							<ul class='comment-list'>
								<% post.comments.each do |elem| %>						
										<li><%= elem.user.username %> commented: 
										<%= linkify_tags(elem.comment) %></li>									
								<% end %>
							</ul>
							
							<div class='comment_form'>
								<%= form_for [post,@comment] do |f| %>
								<%= f.text_area :comment, placeholder: 'Comments...', class: 'text_area' %>
								<%= f.submit 'Create comment', class: "btn btn-primary" %>
								<% end %>		
							</div>

			</div>
		</div>
	</div>
	<!-- </div> -->
</div>	