
<% if @posts.any? %>
	<% @posts.each do |post| %>
	<%= post.caption %>
	<%= post.user.username %>

		<% post.likes.each do |like| %>
		<%= like.user.username %> likes 
		<% end %>

	<%= image_tag post.picture.url(:medium), class:'uploaded_pic' %>
	<%= link_to 'Like', like_path(post), :method => :post %>
	<%= link_to 'Unike', dislike_path(post), :method => :post %>

	<% end %>
<% else %>
	<h3> No posts yet</h3>
<% end %>
<br />
<%# button_to 'Create Post', new_post_path, method: :get %>
<%= link_to 'Create Post', new_post_path %>
